.button-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.delete-btn {
  background-color: red;
  color: white;
  border-radius: 11px;
  border-color: #2c3e50;
  padding: 10px 24px;
  font-weight: bold;
  cursor: pointer;
}

.button-row button {
  margin: 1px;
}