.button-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.delete-btn {
  display: block;
  margin: 0 auto;
  width: 150px;
  background-color: red;
  color: white;
  border-radius: 11px;
  border-color: #2c3e50;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}